---
import "@fontsource-variable/merriweather";
import "@fontsource-variable/outfit";

import "../config/index.css";
import Header from "./Header.astro";

console.log("galleria");
---

<html data-theme="rr-theme" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <noscript>
      <div
        class="fixed inset-0 z-50 flex items-center justify-center bg-base-200"
      >
        Rushil recommends JavaScript :)
      </div>
    </noscript>
  </head>

  <body class="flex min-h-screen w-full flex-col items-center bg-base-200">
    <Header />
    <slot />
  </body>
</html>
