---
import CommonLayout from "../modules/common/components/CommonLayout.astro";
import Hero from "../modules/landing/components/Hero.astro";
import Work from "../modules/landing/components/Work.astro";
---

<CommonLayout>
  <div class="h-12"></div>

  <Hero />

  <div class="h-24"></div>

  <Work />

  <div class="h-24"></div>
</CommonLayout>
