---
import CommonLayout from "../modules/common/components/CommonLayout.astro";
import Experience from "../modules/landing/components/Experience.astro";
import Hero from "../modules/landing/components/Hero.astro";
import Showcase from "../modules/landing/components/Showcase.astro";
---

<CommonLayout>
  <div class="h-4 lg:h-12"></div>

  <Hero />

  <div class="h-12 lg:h-24"></div>

  <Showcase />

  <div class="h-24"></div>

  <Experience />

  <div class="h-24"></div>
</CommonLayout>
